.navbar {
  background-color: #deb887;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #a52a2a;
}
